extends layout
block content
  h1= title
  form(id='motorForm', action="/resource/motor", method="POST")
    div.form-group
      label.updateStyle(for='motor_name') Motor Name
      input.select#motor_name(type='text', name='motor_name')
    div.form-group
      label.updateStyle(for='motor_model') Motor Model
      input.select#motor_model(type='text', name='motor_model')
    div.form-group
      label.updateStyle(for='motor_price') Motor Price
      input.select#motor_price(type='number', name='motor_price')
    input.buttonStyle(type="submit")
  script.
    document.forms.motorForm.addEventListener('submit', (event) => {
      event.preventDefault();
      // TODO do something here to show user that form is being submitted
      fetch(event.target.action, {
        method: 'POST',
        body: new URLSearchParams(new FormData(event.target)) // event.target is the form
      }).then((resp) => {
        return resp.json(); // or resp.text() or whatever the server sends
      }).then((body) => {
        alert("Save succeeded")
        // TODO handle body
      }).catch((error) => {
        // TODO handle error
        alert("Save failed " + error );
      });
    });
