extends layout

block content
  h1= title
  p Welcome to the new page #{title}. There is a change made in paragraph.
  button(type="button", class="btn btn-secondary", onclick="goFaster()") Press Me
  div#faster
    | Increase the speed
  script.
    var mph = 20;
    var change = 1;
    function goFaster() {
        mph += change;
        change += 1;
        document.getElementById("faster").innerText = "MPH " + mph + " with change " + change;
      }
    - const results = [
    - { motor_name: "Toyota", motor_model: "Camry", motor_price: 25000 },
    - { motor_name: "Honda", motor_model: "Civic", motor_price: 22000 },
    - { motor_name: "Ford", motor_model: "F-150", motor_price: 35000 }
    - ]
    each motor in results
      h3 motor.motor_name
      p Model: motor.motor_model
      p Price: motor.motor_price